<h3 class="text-center">Adding new Article</h3>

<div class="row">
	<div class="col-md-12">
		<%= form_for @article, html: {class: 'form-horizontal', role: 'form'} do |f| %>
			<div class="form-group">
				<div class="control-label col-md-1">
					<%= f.label :title %>
				</div>
				<div class="col-md-11">
					<%= f.text_field :title, class: "form-control", placeholder: "Title of Article", autofocus: true %>
				</div>
			</div>

			<div class="form-group">
				<div class="control-label col-md-1">
					<%= f.label :body %>
				</div>
				<div class="col-md-11">
					<%= f.text_area :body, rows: 10, class: "form-control", placeholder: "Body of Article" %>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-1 col-md-11">
					<%= f.submit class: "btn btn-primary btn-lg pull-right" %>
				</div>
			</div>
		<% end %>
	</div>
</div>